<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <!-- Linking Google font link for icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="enquires.component.css">
  </head>
  <body>
    <aside class="sidebar">
      <div class="logo">
        <img src="https://static.vecteezy.com/system/resources/previews/000/356/567/original/vector-laptop-icon.jpg" alt="logo">
        <h2>EnrolliXCoder</h2>
      </div>
      <ul class="links">
        <h4>Main Menu</h4>
        <li>
          <span class="material-symbols-outlined">person</span>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <span class="material-symbols-outlined">book</span>
          <a href="/viewadmin">Batch View(Result)</a>
        </li>
      
        
        <li>
          <span class="material-symbols-outlined">show_chart</span>
          <a href="/regview">Registration List</a>
        </li>

        <li>
          <span class="material-symbols-outlined">flag</span>
          <a href="/enquiry">Enquiries</a>
        </li>
      
        <li class="logout-link">
          <span class="material-symbols-outlined">logout</span>
          <a href="/">Logout</a>
        </li>
      </ul>
    </aside>

    <h1>ENQUIRIES</h1>
<div class="container">
	<table>
        
		<thead>
			<tr>
				<th>Name</th>
				<th>EMAIL</th>
				<th>ENQUIRIES</th>
				
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let i of viewenquiry">
				<td>{{i.name}}</td>
				<td>{{i.email}}</td>
				<td>{{i.content}}</td>
				
			</tr>
			
		</tbody>
	</table>
</div>
  </body>
</html>