<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="imgContainer">
      <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg">
      <img class="mainImg" src="3.jpg">
    </div>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/about">EnrolliXCoder</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/course">Courses</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li class="dropdown">
            <a href="/loginadmin">Login</a>
            <!-- <div class="dropdown-content">
              <a href="/loginadmin">Test Admin</a>
              <a href="/loginstudent">Student</a>
             
            </div> -->
          </li>
        </ul>
        
      </nav>
    </header>
   
  
    <div class="responsive-container-block textSide">
      <p class="text-blk heading">
        About Us
      </p>
      <p class="text-blk subHeading">
        Welcome to our thriving online education platform, where we are dedicated to empowering individuals on their unique learning journeys. At our core, we believe in the transformative power of education, and our innovative platform is designed to make knowledge accessible, engaging, and tailored to your needs. We offer a diverse array of courses curated to inspire curiosity and fuel intellectual growth. Join us as we revolutionize the way you learn, fostering a community committed to knowledge, skill development, and personal enrichment. Your educational adventure begins here, where our commitment to excellence meets your desire for meaningful, lifelong learning
      </p>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="https://tse2.mm.bing.net/th?id=OIP.IC6h3IIjKy3aUtiYBLceiwHaE7&pid=Api&P=0&h=180">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Mr. Erik Dewson
          </p>
          <p class="text-blk cardSubHeading">
            Head of Full stack development department
          </p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="https://tse1.mm.bing.net/th?id=OIP.gPnMFAJQe-ekgjLEZu6JIwHaFj&pid=Api&P=0&h=180">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Mr.John Aurelion
          </p>
          <p class="text-blk cardSubHeading">
            Head of ML/AI and Software Testing department.
          </p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="https://centurionin.com/wp-content/uploads/2021/06/Software-Testing.jpg">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Mr.Steve Gerald
          </p>
          <p class="text-blk cardSubHeading">
            Director and Head of CSA department.
          </p>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
        <div class="cardImgContainer">
          <img class="cardImg" src="https://3.bp.blogspot.com/-KY2KDulkxfA/WLp3EFUGvFI/AAAAAAAAJQ8/TUPPj_vt7ngi6_N0VVFK9_oW6IbU3uzdACLcB/s1600/Algorithm-the-hacker-movie.jpg">
        </div>
        <div class="cardText">
          <p class="text-blk cardHeading">
            Mr.Aadwin Yeager
          </p>
          <p class="text-blk cardSubHeading">
            Head of Data Science department.
          </p>
        </div>
      </div>
       
      <a href="/course">
        <button class="explore">
        Explore our Services
        </button>
      </a>
    
    </div>
    <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
  </div>
</div>
