<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <h2 class="logo"><a href="/">EnrolliXCoder</a></h2>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/course">Courses</a></li>
          <li><a href="/contact">Contact Us</a></li>

          <li class="dropdown">
            <a href="/loginadmin">Login</a>
            <!-- <div class="dropdown-content">
              <a href="/loginadmin">Test Admin</a>
              <a href="/student">Student</a> -->
             
            <!-- </div> -->
          </li>
        </ul>
        
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero">
        <h2>Empower Your Coding Journey with EnrolliXCoder</h2>
        <p>
           where accessible and engaging courses pave the way to knowledge, fostering a dynamic and interactive virtual learning experience
        </p>
        <div class="buttons">
          <a href="/contact" class="join">Join Now</a>
          <a href="/about" class="learn">Learn More</a>
        </div>
      </div>
      <div class="img">
        <img src="https://www.codingnepalweb.com/demos/create-responsive-website-html-css/hero-bg.png" alt="hero image" />
      </div>
    </section>
  </body>
</html>